<div class="classes" ng-if="vm.characters.list.length > 0">
  <div class="block" ng-repeat="c in vm.characters.list" ng-click="vm.swapList(c)">
    <div class="spot {{c.row_css}}">
      <img ng-src="//www.boostingedge.com/raid-planner/assets/images/{{c.spec_css}}.gif" alt="{{c.spec}}">
      <div class="name">{{c.display_name}}</div>
    </div>
  </div>
</div>
