<textarea
  id="copybox"
  disabled="true"
  >{{main.availableCharacters.formattedList()}}</textarea>
  <p>
    <a onclick="copyToClipboard(document.getElementById('copybox').innerHTML)" href="#">Copy List</a>
  </p>
